.contact {
  padding-top: 3rem;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
    max-width: 700px;
    input {
      height: 3rem;
      border-radius: 12px;
      border: none;
      background-color: #f1f1f1;
      padding: 1rem;
      outline: none;
      color: #4c4c4c;
    }

    textarea {
      height: 10rem;
      border-radius: 12px;
      border: none;
      background-color: #f1f1f1;
      padding: 1rem;
      outline: none;
      color: #4c4c4c;
    }
    button {
      height: 3rem;
      border: none;
      border-radius: 12px;
      background-color: black;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  }

}

@media screen and (max-width: 900px) {
  .contact {
    form {
      width: 90%;
    }
  }
}
